# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.bin
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.log
*.marks
